.content {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 90vh;
    color: white;
}

section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    scroll-snap-align: start;
    text-align: center;
}


.calc-container {
    background: #0f0d1c; 
    display: block;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.exp {
    margin-top: 3rem;
    margin-bottom: -5rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
}

#accuracy {
    width: 5.7rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 650;
    margin-right: 0.2rem;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.793);
    caret-color: red;
    background: #f0f0f0;
    border-radius: 1.2rem 0 0 1.2rem;
}

#accuracy::placeholder{
    font-size: 0.9rem;
}

#inp {
    width: 70%;
    height: 3rem;
    padding: 1rem;
    margin: 0;
    caret-color: red;
    background: #f0f0f0;
    border-radius: 0 1.2rem 1.2rem 0;
}

#inp:focus{
    outline: none;
}

.submit-btn {
    width: 3rem;
    height: 3rem;
    /* filter: invert(70%); */
    background: #5647ae;
    border-radius: 50%;
    margin: 0.5rem;
    padding: 0;
}
/* .submit-btn:active{
    filter: invert(100);
} */

.inp-container>img {
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 5rem;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 1rem;
}

.tablinks {
    padding: 0.6rem;
    width: auto;
    height: auto;
    font-size: 1.2rem;
}

.tab-content {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table {
    width: 70%;
    margin-top: 0.7rem;
}


button:not(.tablinks) {
    min-width: 5.5rem;
    height: 3.5rem;
    margin: 0.01rem;
    background-color: #13122a00;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.532);
    border-radius: 3px;
}

button:not(.tablinks):hover {
    border: 1px solid white;
    transition: border 0.4s;
}

button:not(.tablinks):active {
    border-color: #ff0000;
    outline: none;
}

.btn-basic {
    width: 5rem;
    height: 3.5rem;
    margin: 0.01rem;
    background-color: #13122a00;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.532);
    border-radius: 3px;
}

#t-basic-2,
#trig-table-2 {
    display: none;
}

.btn-basic-toggle {
    width: 5rem;
    filter: invert(100%);
}

.toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.t-trig {
    margin-top: 2.5rem;
}

.btn-trig {
    width: 5.5rem;
}

.btn-trig-toggle {
    width: 5.5rem;
    filter: invert(100%);
}

.btn-basic-toggle>img,
.btn-trig-toggle>img {
    width: 80%;
    height: 80%;
    border: none;
}

@media screen and (max-width:410px),
(max-height:410px) {
    .calc-container {
        padding: 1rem;
    }

    section h1 {
        font-size: 3rem;
        margin-top: 1.7rem;
    }

    section p {
        font-size: 1.4rem;
        margin: 1.4rem;
    }

    button:not(.tablinks) {
        width: auto;
        height: 3rem;
        background-color: #13122a00;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.532);
        border-radius: 3px;
    }

    .btn-basic {
        width: 2.5rem;
        height: 2rem;
        background-color: #13122a00;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.532);
        padding: 0;
        border-radius: 3px;
    }

    ::-webkit-scrollbar {
        width: 0.3rem;
    }

    ::-webkit-scrollbar-track {
        background-color: #748b97;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-height:410px) and (min-width:410px) {
    section h1 {
        font-size: 4rem;
        margin-top: 1.7rem;
    }

    section p {
        font-size: 2rem;
        margin: 1.5rem;
    }

    section button {
        height: 4rem;
        width: 8rem;
        font-size: 1.3rem;
        border: none;
        margin: 1rem;
    }

    ::-webkit-scrollbar {
        width: 0.4rem;
    }

    ::-webkit-scrollbar-track {
        background-color: #748b97;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

section button a {
    text-decoration: none;

}

.one {
    background: #014f6e;
}

.two {
    background: #58508d;
}

.three {
    background: #8a508f;
}

.four {
    background: #bc5090;
}

.five {
    background: #de5a79;
}

.six {
    background: #ff6361;
}

.seven {
    background: #ff8531;
}

.eight {
    background: #ffa600;
}

#t-basic-1, #t-basic-2 {
    padding: 0;
    transform: translateY(1rem);
}

.tabs button {
    margin: 0.3rem;
}

.btn-basic-toggle {
    background-color: rgba(255, 184, 77, 0);
}

.get-started-button a {
    color: white;
    text-overflow: ellipsis;
}

.get-started-button button {
    width: fit-content;
    padding: 0 1rem;
}

.get-started-button button a {
    text-decoration: none;
}

#calculus table {
    margin-top: 2.5rem;
}

#constants {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-btn {
    width: 10.5rem;
    height: 3rem;
    margin: 0.3rem;
}

.dropdown-content {
    max-height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1rem auto;
    border: 1px solid white;
    border-radius: 5px;
}

.const-btn {
    width: 15rem;
    min-height: 3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-adv{
    width: 9rem;
    height: 3.5rem;
    margin: 0.01rem;
    background-color: #13122a00;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.532);
    border-radius: 3px; 
}

#tab-basic:hover{
    background: #b6bbff;
}

#tab-trigonometry:hover{
    background: #ccfffd;
}

#tab-constants:hover{
    background: #b1ffab;
}

#tab-calculus:hover{
    background: #fce09f;
}

#tab-stats:hover{
    background: #fcc39d;
}

#tab-transforms:hover{
    background: #fc9898;
}

#tab-advanced:hover{
    background: #fdb6ff;
}

button {
    font-size: 1.2rem;
}